/* Team Block */
.our-team {
	border-bottom: 3px solid $black;
	background: #eee;
	padding-left: 15vw;
	.member {
		position: relative;
		width: 16vw; 
		margin-right: 5vw;
		display: inline-block;
		vertical-align: top;
		font-size: 1.1rem;
		text-align: left;
		overflow: hidden;
		padding: 5px;
		margin-bottom: 1em;
		
		// color: white;
		// opacity: .6;
		// transition: opacity .5s;
		// &:hover { opacity: 1; }

		.member-info {
			display: inline-block;
			padding: 0 1vw 0 0;
			margin-bottom: .5em;
			text-align: center;
			// width: 100%;
			height: auto;
			background-size: cover;
			// -webkit-border-radius: 150px;
			// -moz-border-radius: 150px;
			// border-radius: 150px;
		}

		.member-thumbnail {
			margin-bottom: 1em;
		}

		.member-bio {
			display: inline-block;
			vertical-align: top;
			display: none;
		}

		h3.member-name {
			margin-bottom: .3rem;
			font-family: "myriad-std-tilt";
			font-size: 1.5em;

		}
		h4.member-title, h4.member-phone {
			font-size: .8em;
		}

		.member-contact {
			display: inline-block;
			width: 100%;
			vertical-align: top;
			line-height: 1em;
			text-align: center;
			border: 3px solid $black;
			border-width: 3px 0;
			padding: 5px 0 5px;
			li{
				text-align: center;
				display: inline-block;
				padding: 5px;
				a, span {
					display: inline-block;
					width: 10px;
					height: 10px;
					background-repeat: no-repeat;
					background-size: contain; 
					color: black;
					padding: 10px;
					text-decoration: none;
					font-size: .9rem;
					text-align: left;
					transition: background-color .5s, color .5s;
					&:hover {
						color: white;
					}

				}
				&.facebook {
					a {	
						background-image: url("images/ikons/facebook.png");
						background-size: contain;
					}
					&:hover{
						background-color: $facebook-color;
						a{
							background-image: url("images/ikons/facebook-white.png");
						}
					}
				}
				&.mail {
					a {
						background-image: url("images/ikons/mail.png");
						background-size: contain;
					}
					&:hover{
						background-color: $yellow;
						a {
							background-image: url("images/ikons/mail.png");
						}
					}
				}
				&.profile {
					span{
						background-image: url("images/ikons/book_1.png");
						background-size: contain;
					}
					&:hover{
						background-color: $yellow;
					}

				}

			}
			.info {
				width: 100%;
				border-bottom: 1px dashed $black;
				margin-bottom: 5px;
			}
		}

		.member-bio {
			font-weight: lighter;
		}


		//Background Colors
		// &:nth-child(4n-1){
		// 	background: white;
		// }
		// &:nth-child(4n){
		// 	background: $yellow;
		// }
		// &:nth-child(4n-2){
		// 	background: $violet;
		// }
		// &:nth-child(4n-3){
		// 	background: $black;
		// }
		// &:not(:nth-child(4n-1)):not(:nth-child(4n)){
		// 	color: white;
		// }
		// &:not(:nth-child(4n-2)):not(:nth-child(4n-3)){
		// 	color: $black;
		// }

		//Mobile styles
		@media screen and ( max-width: 700px ){
			width: 100%;
		}

	}

}
.team-bios {
	width: 74vw;
	margin-bottom: 1em;
	li {
		position: relative;
		max-height: 0px;
		overflow: hidden;
		display: inline-block;
		width: 61vw;
		background: $yellow;
		width: 100%;
		padding-left: 2vw;
		padding-right: 2vw;
		transition: max-height .5s, padding-top .5s, padding-bottom .5s;

		&.open{
			position: relative;
			left: auto;
			max-height: 500px;
			padding-top: 2vw;
			padding-bottom: 2vw;
		}
	}
}