<ul class="posts">
	<h2>Our Blog</h2>
<% postlist = posts.posts %>

<% for( var p=0; p < postlist.length; p++ ){ %>
	<li class="post">
		<h3 class="post-title"><%= postlist[p].post_title %></h3>
		<h4 class="post-date"><%= postlist[p].post_date %></h4>
		<div class="post-content open"><%= postlist[p].post_content %></div>
<% } %>
</ul>
