{% extends '/views/blocks/base.html.twig' %}
{% block main_content %}
	{% include 'views/blocks/header.html.twig' %}
	<div class="home-content">
		<!-- Featured Image -->
		<div class="home-gallery detp-gallery"></div> 

		<!-- Our Mission: Solid Color background, Excerpt from Mission Page   -->
		<div class="our-mission">
			<p>
				{{ mission_post.post_content }}
			</p>
			<iframe class="promo" width="560" height="315" src="//www.youtube.com/embed/uUhS9sN8FnA" frameborder="0" allowfullscreen></iframe>
		</div>

		<!-- Our Team: Team Grid  -->
		<div class='our-team'></div>

 		<!-- Our Work: Project Accordion/Selector -->
		<div class='our-work'></div>

		<!-- Latest News and Blog: Post Preview Grid -->
	</div>
{% endblock %}

		{# <div class='our-blog'></div>  #}

{# {% block footer %}
		<footer>
			{% foot %}
		</footer>
	</div>
{% endblock %} #}

