{% extends '/views/blocks/base.html.twig' %}
{% block main_content %}
	{% include 'views/blocks/header.html.twig' %}
	<div class="home-content">
		<!-- Featured Image -->
		<div class="home-gallery detp-gallery"></div> 

		<!-- Our Mission: Solid Color background, Excerpt from Mission Page   -->
		<div class="our-mission">
			<p>
				{{ mission_post.post_content }}
			</p>
		</div>

		<!-- Our Team: Team Grid  -->
		<div class='our-team'></div>

 		<!-- Our Work: Project Accordion/Selector -->
		<div class='our-work'></div>

		<!-- Latest News and Blog: Post Preview Grid -->
		{# <div class='our-blog'></div>  #}
	</div>
{% endblock %}

{# {% block footer %}
		<footer>
			{% foot %}
		</footer>
	</div>
{% endblock %} #}